    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="..." class="pagination-nav">
        <ul class="pagination">
            <li class="page-item">
                <span class="page-link">{% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                </span>
            </li>
            <li class="page-item"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>

            {%else%}|</span> {% endif %}<li class="page-item active">
                <span class="page-link">
                    {{ page_obj.number }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>{% if page_obj.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{{ request.path }}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            <li class="page-item">
                <span class="page-link">
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a> </span>
                {%else%}|</span> {% endif %}
            </li>
        </ul>
    </nav>
    {% endif %}
    <!-- Pagination  END-->